      
.category-card {
    transition: transform 0.3s ease;
    cursor: pointer;
}
        
.category-card:hover {
    transform: translateY(-5px); /* Efecto de levante al pasar el mouse */
}

.carousel-item {
    height: 80vh;
}

.carousel-video,
.carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}